node_modules/
**/.yarn/install-state.gz
**/.yarn/cache/
**/.yarn/unplugged/
**/.pnp.cjs
**/.pnp.loader.mjs
.vscode/
.idea/

# files and folders managed by agentic toolkit 
.claude
.mcp.json
CLAUDE.md
.agentic-toolkit.lock.yaml